body {
    background-color: #5E6668; 
    font-family: 'Arial', sans-serif; 
  }
  
  form {
    position: absolute;
    background-color: rgba(219, 219, 219, 0.7);
    margin: auto;
    height: 100%;
    width: fit-content;
    padding-bottom: 100%;
    left: 5%;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="password"],
  select {
    width: 50%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
  }
  
  
  h1 {
    color: #021418;
    font-family: Algerian;
  }
  